<div class="col-sm-6">
  <h5>{{post.title}}</h5>
  <h6>{{post.date}}</h6>
  <img class="post-img" src="{{post.image}}" alt="stock photo">
  <hr>
    {{update-post post=post update="update"}}
    <div class="delete-post">
      <button class="waves-effect waves-light btn deleteBtn" {{action 'delete' post}}>Delete</button>
    </div>
</div>
