{{#if updatePostForm}}
  <h3>Update "{{post.title}}"</h3>
    <div class="container">
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          {{input value=title id="title" class="form-control" placeholder=post.title}}
        </div>

        <div class="form-group">
          <label for="date">Date</label>
          {{input value=date id="date" class="form-control" placeholder=post.date}}
        </div>

        <div class="form-group">
          <label for="content">Content</label>
          {{input value=post.content id="content" class="form-control" placeholder=post.content}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input value=image id="image" class="form-control" placeholder=post.image}}
        </div>

        <button class="waves-effect waves-light btn saveNewPost"{{action 'update' post}}>Save</button>
      </form>
    </div>
{{else}}
    <button class="waves-effect waves-green btn newPostForm"{{action 'updatePostForm'}}>Edit</button>
{{/if}}
