
<div class="container">
  <h5>{{model.title}}</h5>
  <h6>{{model.date}}</h6>
  <img class="post-img" src="{{model.image}}" alt="stock photo">
  <p>{{model.content}}</p>
  <hr>

  {{new-comment post=model save2="save3"}}
</div>
